body {
    background: rgb(78, 105, 128);
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

header {
    background: rgb(37, 46, 48);
    padding: 10px;
    box-shadow: 0 0 3px rgb(70, 76, 77);
    text-align: right;
    top: 0%;
}

header li {
    display: inline;
    padding-left: 20px;
}

header li a {
    text-decoration: none;
    padding: 13px;
}

header ul #home a {
    border: none;
    outline: none;
    height: 30px;
    background: #044977;
    color: #fff;
    font-size: 16px;
    border-radius: 18px;
}

header ul #home a:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
    font-family: Trebuchet MS, sans-serif;
}

header ul #contact a {
    border: none;
    outline: none;
    height: 30px;
    background: #044977;
    color: #fff;
    font-size: 16px;
    border-radius: 18px;
}

header ul #contact a:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
    font-family: Trebuchet MS, sans-serif;
}

header li img {
    width: 150px;
    height: 90px;
    float: left;
    margin-top: -20px;
}

.first {
    float: left;
    margin: 110px -17px 10px -150px;
    width: 45%;
    height: 700px;
}

.sec {
    float: right;
    margin: 110px -17px 10px -150px;
    width: 50%;
    height: 350px;
}

.third {
    float: right;
    margin: 40px -17px 10px -15px;
    width: 50%;
    height: 300px;
}

p {
    float: left;
    font-family: Gill Sans, sans-serif;
    text-align: left;
    font-size: 22px;
    margin-left: 10px;
}